* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: #fff;
}

.container {
  max-width: 40rem;
  margin: 15rem auto;
  box-shadow: 0 0 5px #635f5f;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.borderless {
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(77, 74, 74, 0.6);
}

.pointer {
  cursor: pointer;
  padding: 0 0.3rem;
  font-size: 1.2rem;
}

.pointer:hover {
  color: rgb(90, 24, 151);
  transform: scale(1.1);
}

.cross {
  cursor: pointer;
  padding: 0 0.5rem;
  font-size: 1.3rem;
}

.cross:hover {
  color: rgb(243, 6, 6);
  transform: scale(1.2);
}

.list {
  padding: 1rem 1rem 1rem 2rem;
  border-bottom: 1px solid rgba(77, 74, 74, 0.2);
}

.header h2 {
  font-size: 2rem;
}

.task-input-container input {
  font-style: italic;
  font-size: 1.25rem;
  width: 94%;
  border: none;
}

input:focus {
  outline: none;
}

.task-input-container form {
  width: 100%;
}

.tasks {
  width: 100%;
}

.taskInfo {
  gap: 1rem;
}

.taskInfo label {
  font-size: 1.25rem;
}

.clear.list {
  display: flex;
  justify-content: center;
  background-color: #f0ecec;
  color: rgba(77, 74, 74, 0.8);
  cursor: pointer;
}

[type="checkbox"]:checked + label {
  text-decoration: line-through;
  opacity: 0.5;
}

.task-name {
  outline: none;
}
